
.projectDrawerView

  .content
    flex-grow: 1

  .line
    display: flex
    align-items: center
    justify-content: stretch
    padding: 0 0.6875rem

    *
      flex-grow: 1
      flex-shrink: 100

  .title1
    margin-bottom: -0.2rem

  .title2
    margin-bottom: 0.1rem
